<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duelo privado</title>
    <link rel="stylesheet" href="../public/css/headerStyle.css">
</head>
<body>
    <%- include('header') %>
    <div style="display: flex; flex-direction: row; justify-content: space-around;">
        <div style="display: flex; flex-direction: column;">
            <img src="../public/images/pika.png" alt="Pikachutiste" style="height: 200px; width: 300px;" >
            <h1>Acceso denegado. Duelo privado</h1>
        </div>
    </div>
</body>
</html>