<header class="header">
    <div class="iconosHeader">
        <div class="divLogo">
            <a href="/productLandingPage">
                <img src="/images/logo.png" alt="Logo">
            </a>
        </div>
        <div class="divBotonesHeader">
            <a href="/ingresar" class="botonesHeader">Iniciar Sesión</a>
            <a href="/registrar" class="botonesHeader">Registrarse</a>
            <a href="/LandingGrupal/LandingGroup.html" class="botonesHeader">Product</a>
        </div>
    </div>
</header>
