<!-- para agregar el header copiar y pega la parte del head en el head de su HTML -->

<head>
    <title>Pocket Monsters</title>
    <link rel="icon" href="../public/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/headerStyle.css">
</head>

<!-- para agregar el header copiar y pega la parte todo lo de abajo en el body de su HTML -->
<header class="header">
    <div class="iconosHeader">
        <div class="divLogo">
            <a href="/">
                <img src="../public/images/logo.png" alt="icono de pagina" id="iconoPagina">
           </a>
        </div>
       <div id="divBotonesHeader" class="divBotonesHeader">
        </div>
    </div>
    <script>
        console.log(`user: ${localStorage.getItem('pocketMonstersUsuario')}`);
        if (localStorage.getItem('pocketMonstersUsuario') === null || localStorage.getItem('pocketMonstersUsuario') === 'null') {
            document.getElementById('divBotonesHeader').innerHTML = `<a href="/ingresar" class="botonesHeader">Iniciar sesión</a><a href="/registrar" class="botonesHeader">Registrarse</a>`;
        }
        else {
            document.getElementById('divBotonesHeader').innerHTML = `<a href="/perfil" class="botonesHeader">${localStorage.getItem('pocketMonstersUsuario')}</a><button class="botonesHeader" onclick="salir()">Salir</button>`;
        }
        function salir() {
            localStorage.setItem('pocketMonstersUsuario', 'null');
            window.location.reload();
        }
        
    </script>
</header>


