<!-- para agregar el header copiar y pega la parte del head en el head de su HTML -->

<head>
    <title>Pocket Monsters</title>
    <link rel="icon" href="../public/images/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../public/css/headerStyle.css">
</head>

<!-- para agregar el header copiar y pega la parte todo lo de abajo en el body de su HTML -->
<header class="header">
    <div class="iconosHeader">
        <div class="divLogo">
            <a href="/">
                <img src="../public/images/logo.png" alt="icono de pagina" id="iconoPagina">
           </a>
        </div>
       <div class="divBotonesHeader">
            <a href="/ingresar" class="botonesHeader">Iniciar sesión</a>
            <a href="/registrar" class="botonesHeader">Registrarse</a>
        </div>
    </div>
</header>


