<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Producto</title>
		<link rel="stylesheet" href="../public/css/headerStyle.css">
		<link rel="icon" href="../public/images/logo.png">
    <link rel="stylesheet" href="/public/css/productStyle.css"> 
</head>
<body>
		<%- include('header') %>
		
    <section id="porque-usar">
        <h2>¿Por qué usar este producto?</h2>
        <p>Pocket Monsters ofrece una experiencia única y emocionante para los fanáticos de Pokémon, permitiéndoles crear equipos, desafiar a amigos y participar en duelos emocionantes. La plataforma está diseñada para proporcionar diversión interminable mientras se perfeccionan las habilidades estratégicas y de toma de decisiones.</p>
    </section>

    <section id="ventajas">
        <h2>Ventajas</h2>
        <ul>
            <li>Base de datos de Pokémon completa: Acceso a una amplia gama de Pokémon con estadísticas detalladas.</li>
            <li>Fácil gestión de equipos: Crea y gestiona tus equipos de Pokémon con facilidad.</li>
            <li>Duelos en tiempo real: Desafía a tus amigos a duelos y demuestra quién tiene la mejor estrategia.</li>
            <li>Experiencia personalizable: Adapta la experiencia de juego a tus preferencias.</li>
            <li>Seguro y confiable: Tus datos están protegidos con los más altos estándares de seguridad.</li>
        </ul>
    </section>

    <section id="caracteristicas">
        <h2>Características principales</h2>
        <p>La plataforma incluye:</p>
        <ul>
            <li>Creación de equipos: Selecciona y personaliza tu equipo de seis Pokémon.</li>
            <li>Duelos: Participa en batallas en tiempo real con otros jugadores.</li>
            <li>Autenticación de usuarios: Proceso seguro de inicio de sesión y registro.</li>
            <li>Seguimiento de estadísticas: Monitorea tus victorias, derrotas y estadísticas de Pokémon.</li>
            <li>Diseño responsivo: Accesible en cualquier dispositivo, desde escritorio hasta móvil.</li>
        </ul>
    </section>

</body>
</html>
