<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Monsters</title>
		<link rel="stylesheet" href="../public/css/plpEstilo.css">
		<link rel="stylesheet" href="../public/css/headerStyle.css">
		<link rel="icon" href="../public/images/logo.png">
</head>


<body>

	<%- include('header') %>

 <section class="bienvenida">
    <h2>Bienvenido a Pocket MONSTERS Battle Simulator</h2>
</section>

<section class= "button-container">
	<a href="/retar" class="btn-jugar">A Jugar</a>
    <a href="/landingGroup" class="btn-jugar">Grupo</a>
	<a href="/product" class="btn-jugar">Producto</a>
    <a href="/estadisticas" class="btn-jugar">Tabla de Liderazgo</a>
</section>

<section class="banner">
    <img src="../public/images/banner.png" alt="Banner" class="banner-image">
</section>



</body>
</html>
