* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: sticky;
    display: flex;
    align-items: center;
    height: 80px;
    background: linear-gradient(90deg, rgb(28, 144, 237) 0%, rgb(29, 99, 237) 100%);
    padding: 0 20px;
    width: 100%;
}

.iconosHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.divLogo{
    height: 100%;
    max-height: 100%;
}

#iconoPagina {
    height: 100%;
    max-height: 100%;
    width: auto;
}

.divBotonesHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.botonesHeader {
    padding: 10px 20px;
    margin: 10px;
    background-color: #FF5A6A;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.botonesHeader:hover {
    background-color: #104A73;
}
