body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: 20px auto;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #0b5394;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    background-color: #e9e9e9;
    margin: 10px 0;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:nth-child(odd) {
    background-color: #d3d3d3;
}

.username {
    font-weight: bold;
    color: #cc0000;
}

.victories {
    background-color: #0b5394;
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
}
