<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pocket Monsters - Cuenta verificada</title>
    <link rel="icon" href="./logo.png" type="image/x-icon">
    <link rel="stylesheet" href="./headerStyle.css">
    <link rel="stylesheet" href="./verificacion.css">
</head>
<body>
    <header class="header">
        <div class="iconosHeader">
            <div class="divLogo">
                <a href="./home.html">
                    <img src="./logo.png" alt="icono de pagina" id="iconoPagina">
               </a>
            </div>
           <div class="divBotonesHeader">
                <a href="ingresar.html" class="botonesHeader">Iniciar sesión</a>
                <a href="./registrar.html" class="botonesHeader">Registrarse</a>
            </div>
        </div>
    </header>
    <main style="display: flex; flex-direction: row; justify-content: space-around;">
        <div class="divPricipal">
            <h1>Tu cuenta ha sido verificada correctamente</h1>
            <img src="./pikaFeliz.png" alt="pikachu feliz" style="height: 300px; width: auto;">
        </div>
    </main>

</body>
</html>